<div class="col-md-12" ng-controller="ActionController">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
        <li><a href="#/Endpoint/{{EndpointName}}">{{EndpointName}}</a></li>
        <li><a href="#/Endpoint/{{EndpointName}}/Action/{{Action.Name}}/HttpMethod/{{Action.HttpMethod}}">{{Action.Name}}</a></li>
    </ol>
    <div class="col-md-7">
        <h1>
            <i class="glyphicon" ng-class="{'glyphicon-export' : Action.HttpMethod == 'GET', 'glyphicon-import' : Action.HttpMethod == 'POST', 'glyphicon-floppy-open' : Action.HttpMethod == 'PUT', 'glyphicon-floppy-remove' : Action.HttpMethod == 'DELETE'}"></i>
            {{Action.Name}}
        </h1>
        <h5>{{Action.Info}}</h5>
        <pre class="alert alert-dismissable alert-info">{{RequestUri}}</pre>
        <div class="panel panel-default action-parameters">
            <div class="panel-heading">Parameters</div>
            <div class="panel-body">
                <ul class="list-group">
                    <li class="list-group-item" ng-repeat="Parameter in Action.Parameters">
                        <div ng-include="'./App/Controllers/ParameterController.html'"></div>
                    </li>
                </ul>
            </div>
        </div>
    </div>
    <div class="col-md-5">
        <form>
            <div class="form-group">
                <div ng-include="'./App/Controllers/Templates/RequestJsonTemplate.html'"></div>
            </div>
            <div class="form-group">
                <button type="button" class="btn btn-primary btn-lg" ng-click="SendRequest()">{{Action.HttpMethod}}</button>
            </div>
            <div class="form-group">
                <div ng-include="'./App/Controllers/Templates/ResponseJsonTemplate.html'"></div>
                
            </div>
        </form>
    </div>
</div>