<div ng-controller="PropertyController">
    <div ng-show="Property.HasProperties()">
        <accordion>
            <accordion-group is-open="IsOpen">
                <accordion-heading>
                    <span>{{Property.Name}}</span>: <span>{{Property.Type}}</span>
                    <i class="pull-right glyphicon" ng-class="{'glyphicon-chevron-down': IsOpen, 'glyphicon-chevron-right': !IsOpen}"></i>
                </accordion-heading>
                <div ng-repeat="Property in Property.Properties">
                    <div ng-include="'./App/Controllers/PropertyController.html'"></div>
                </div>
                <div ng-show="Property.IsCollectionType()">
                    <div class="form-group">
                        <div class="input-group pull-right" ng-click="Property.DuplicateLastProperty()">
                            <i class="glyphicon glyphicon-plus"></i> Add
                        </div>
                    </div>
                </div>
            </accordion-group>
        </accordion>
    </div>
    <div ng-show="!Property.HasProperties()">
        <div class="form-group">
            <div class="input-group">
                <span class="input-group-addon">{{Property.Name}}</span>
                <input type="text" class="form-control" ng-class="{'glyphicon-info-sign' : Parameter.FromUri}" ng-model="Property.Value" ng-keyup="Keyup()" placeholder="{{Property.Type}}">
            </div>
        </div>
    </div>
</div>