<div class="panel panel-default">
    <div class="panel-heading">
        Response
        <i class="pull-right glyphicon glyphicon-info-sign" data-toggle="modal" data-target="#ResponseData"></i>
        <!-- Modal -->
        <div class="modal fade" id="ResponseData" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
                        <h4 class="modal-title" id="myModalLabel">Response Data</h4>
                    </div>
                    <div class="modal-body">
                        <pre>{{JsonResponse}}</pre>
                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="panel-body">
        <pre class="alert alert-dismissable alert-success">{{JsonResponse}}</pre>
    </div>
</div>