<div class="col-md-12" ng-controller="HomeController">
    <ol class="breadcrumb">
        <li><a href="#">Home</a></li>
    </ol>
    <div class="col-md-12">
        <h1>Endpoints</h1>
    </div>
    <div class="col-md-6">
        <ul class="list-group">
            <a href="#/Endpoint/{{endpoint.Name}}" class="list-group-item" ng-class="{'list-group-item-info' : endpoint == ActiveEndpoint}" ng-repeat="endpoint in Endpoints">
                <h4 class="list-group-item-heading">{{endpoint.Name}}</h4>
                <span class="label label-info pull-right">~/{{endpoint.Uri}}</span>
                <p class="list-group-item-text">
                    {{endpoint.Info}}&nbsp;
                </p>
            </a>
        </ul>
    </div>
    <div class="col-md-6">
        <div class="panel panel-info">
            <ul class="list-group">
                <a href="#/Endpoint/{{ActiveEndpoint.Name}}/Action/{{action.Name}}/HttpMethod/{{action.HttpMethod}}" class="list-group-item" ng-repeat="action in ActiveEndpoint.Actions">
                    <h4 class="list-group-item-heading">{{action.Name}}</h4>
                    <span class="label label-info pull-right">/{{action.Uri}}</span>
                    <p class="list-group-item-text">
                        {{action.Info}}&nbsp;
                    </p>
                </a>
            </ul>
        </div>

    </div>
</div>