<div class="col-md-12" ng-controller="HomeController">
    <div class="col-md-12">
        <h1>Endpoints</h1>
    </div>
    <div class="col-md-5">
        <ul class="list-group">
            <li ng-click="SelectEndpoint($index)" class="list-group-item" ng-class="{'list-group-item-info' : endpoint == ActiveEndpoint}" ng-repeat="endpoint in Endpoints">
                <h4 class="list-group-item-heading">{{endpoint.Name}}</h4>
                <span class="label label-info pull-right">~/{{endpoint.Uri}}</span>
                <p class="list-group-item-text">
                    {{endpoint.Info}}&nbsp;
                </p>
            </li>
        </ul>
    </div>
    <div class="col-md-5">
        <div class="panel panel-info">
            <ul class="list-group">
                <a href="#/Endpoint/{{ActiveEndpoint.Name}}/Action/{{action.Name}}/HttpMethod/{{action.HttpMethod}}" class="list-group-item" ng-repeat="action in ActiveEndpoint.Actions">
                    <h4 class="list-group-item-heading">{{action.Name}}</h4>
                    <span class="label label-info pull-right">/{{action.Uri}}</span>
                    <p class="list-group-item-text">
                        {{action.Info}}&nbsp;
                    </p>
                </a>
            </ul>
        </div>

    </div>
    <div class="col-md-2">
        <div class="panel panel-default">
            <div class="panel-heading">
                OAuth Bearer Token
                <i class="pull-right glyphicon glyphicon-lock"></i>
            </div>
            <div class="panel-body">
                <pre>{{GlobalConfig.OAuth.TokenJson}}</pre>
                <div>Expires in: {{GlobalConfig.OAuth.ExpiresIn / 60}} minute(s).</div>
            </div>
        </div>

    </div>
</div>